In [2]:
import numpy as np
import pandas as pd

In [4]:
weather_df = pd.read_csv('archive odesa.csv', delimiter=',')
weather_df.head(10)

,time,temperature_2m (°C),relativehumidity_2m (%),dewpoint_2m (°C),apparent_temperature (°C),pressure_msl (hPa),surface_pressure (hPa),precipitation (mm),rain (mm),snowfall (cm),...,et0_fao_evapotranspiration (mm),vapor_pressure_deficit (kPa),soil_temperature_0_to_7cm (°C),soil_temperature_7_to_28cm (°C),soil_temperature_28_to_100cm (°C),soil_temperature_100_to_255cm (°C),soil_moisture_0_to_7cm (m³/m³),soil_moisture_7_to_28cm (m³/m³),soil_moisture_28_to_100cm (m³/m³),soil_moisture_100_to_255cm (m³/m³)
0,2022-01-23 23:00:00,-3.5,90,-4.9,-9.3,1024.4,1020.6,0.0,0.0,0.0,...,0.00,0.05,-1.1,0.1,2.6,7.9,0.283,0.289,0.234,0.201
1,2022-01-24 00:00:00,-3.7,89,-5.3,-10.2,1025.1,1021.3,0.0,0.0,0.0,...,0.01,0.05,-1.1,0.1,2.6,7.9,0.284,0.289,0.234,0.201
2,2022-01-24 01:00:00,-3.3,86,-5.3,-9.8,1025.1,1021.3,0.0,0.0,0.0,...,0.01,0.07,-1.2,0.1,2.6,7.9,0.284,0.289,0.234,0.201
3,2022-01-24 02:00:00,-3.2,85,-5.4,-9.5,1025.6,1021.8,0.0,0.0,0.0,...,0.01,0.07,-1.3,0.1,2.6,7.9,0.284,0.288,0.234,0.201
4,2022-01-24 03:00:00,-3.3,85,-5.4,-9.6,1025.6,1021.8,0.0,0.0,0.0,...,0.01,0.07,-1.3,0.1,2.6,7.8,0.284,0.288,0.234,0.201
5,2022-01-24 04:00:00,-3.6,84,-6.0,-10.3,1025.5,1021.7,0.0,0.0,0.0,...,0.01,0.08,-1.6,0.1,2.6,7.8,0.284,0.288,0.234,0.201
6,2022-01-24 05:00:00,-3.6,82,-6.2,-10.4,1025.8,1022.0,0.0,0.0,0.0,...,0.01,0.08,-1.7,0.1,2.6,7.8,0.284,0.288,0.234,0.201
7,2022-01-24 06:00:00,-4.0,82,-6.6,-10.9,1026.1,1022.3,0.0,0.0,0.0,...,0.01,0.08,-1.8,0.1,2.6,7.8,0.284,0.288,0.234,0.201
8,2022-01-24 07:00:00,-4.5,80,-7.3,-11.3,1026.7,1022.9,0.0,0.0,0.0,...,0.01,0.09,-2.0,0.1,2.6,7.8,0.284,0.288,0.234,0.201
9,2022-01-24 08:00:00,-4.3,78,-7.6,-11.2,1027.0,1023.2,0.0,0.0,0.0,...,0.02,0.10,-2.1,0.1,2.6,7.8,0.284,0.288,0.234,0.201

In [5]:
weather_df.columns

Index(['time', 'temperature_2m (°C)', 'relativehumidity_2m (%)',
       'dewpoint_2m (°C)', 'apparent_temperature (°C)', 'pressure_msl (hPa)',
       'surface_pressure (hPa)', 'precipitation (mm)', 'rain (mm)',
       'snowfall (cm)', 'weathercode (wmo code)', 'cloudcover (%)',
       'cloudcover_low (%)', 'cloudcover_mid (%)', 'cloudcover_high (%)',
       'shortwave_radiation (W/m²)', 'direct_radiation (W/m²)',
       'diffuse_radiation (W/m²)', 'direct_normal_irradiance (W/m²)',
       'windspeed_10m (km/h)', 'windspeed_100m (km/h)',
       'winddirection_10m (°)', 'winddirection_100m (°)',
       'windgusts_10m (km/h)', 'et0_fao_evapotranspiration (mm)',
       'vapor_pressure_deficit (kPa)', 'soil_temperature_0_to_7cm (°C)',
       'soil_temperature_7_to_28cm (°C)', 'soil_temperature_28_to_100cm (°C)',
       'soil_temperature_100_to_255cm (°C)', 'soil_moisture_0_to_7cm (m³/m³)',
       'soil_moisture_7_to_28cm (m³/m³)', 'soil_moisture_28_to_100cm (m³/m³)',
       'soil_moisture_100_to_255cm (m³/m³)'],
      dtype='object')

In [6]:
features = ['time', 'temperature_2m (°C)', 'relativehumidity_2m (%)', 'apparent_temperature (°C)', 
            'snowfall (cm)', 'dewpoint_2m (°C)', 'cloudcover (%)', 'windspeed_10m (km/h)', 'windgusts_10m (km/h)']
weather_df = weather_df[features]
weather_df.head()

,time,temperature_2m (°C),relativehumidity_2m (%),apparent_temperature (°C),snowfall (cm),dewpoint_2m (°C),cloudcover (%),windspeed_10m (km/h),windgusts_10m (km/h)
0,2022-01-23 23:00:00,-3.5,90,-9.3,0.0,-4.9,14,21.2,35.6
1,2022-01-24 00:00:00,-3.7,89,-10.2,0.0,-5.3,43,25.5,37.1
2,2022-01-24 01:00:00,-3.3,86,-9.8,0.0,-5.3,72,24.9,38.5
3,2022-01-24 02:00:00,-3.2,85,-9.5,0.0,-5.4,98,23.8,39.2
4,2022-01-24 03:00:00,-3.3,85,-9.6,0.0,-5.4,100,24.1,39.2

In [7]:
test_df = pd.read_csv('final_test_with_sequencesv2.csv', delimiter=',')
test_df.head()

,Id,running_time,route_distance_km,sequence,is_afternoon,is_evening,is_morning,is_night,morning_peak_time,evening_peak_time
0,6198,2022-01-24 03:38:30,4.744,"[4773237812, 4773237811, 2059504508, 205950375...",0,0,0,1,0,0
1,6417,2022-01-24 03:45:51,6.279,"[5020979245, 290008230, 703126946, 290008229, ...",0,0,0,1,0,0
2,7054,2022-01-24 03:52:14,3.934,"[4363705737, 4362696212, 317184766, 4768027647...",0,0,0,1,0,0
3,9628,2022-01-24 04:03:21,5.959,"[3292022393, 3292022394, 701988912, 27126496, ...",0,0,0,1,0,0
4,10283,2022-01-24 04:01:12,7.028,"[1920586755, 1920586759, 2350039045, 392526370...",0,0,0,1,0,0

In [7]:
orders_df = pd.read_csv('orders_time_features.csv', delimiter=',')
orders_df.drop(columns=orders_df.columns[0], inplace=True)
orders_df.head()

,Id,running_time,completed_time,route_distance_km,delta_time,is_afternoon,is_evening,is_morning,is_night,morning_peak_time,evening_peak_time
0,-4773019581999572651,2022-01-24 18:30:21,2022-01-24 18:44:43,3.740,862.0,0,1,0,0,0,1
1,-7575630690398473489,2022-01-24 06:53:53,2022-01-24 07:06:26,3.526,753.0,0,0,1,0,0,0
2,-6264582368520213833,2022-01-24 10:00:59,2022-01-24 10:15:58,5.071,899.0,0,0,1,0,0,0
3,5964315354301636538,2022-01-24 14:28:05,2022-01-24 14:35:08,2.867,423.0,1,0,0,0,0,0
4,1372379574816145639,2022-01-24 11:57:29,2022-01-24 12:06:29,3.751,540.0,0,0,1,0,0,0

In [8]:
data = []
weather_datetime = pd.DatetimeIndex(weather_df['time'])
orders_datetime = pd.DatetimeIndex(test_df['running_time'])
for order_id, dt in zip(test_df['Id'], orders_datetime):
    idx = (weather_datetime - dt).days.searchsorted(0, side='left')
    append_data = [order_id] + weather_df.iloc[idx-1, 1:].to_list()
    data.append(append_data)

In [9]:
join_df = pd.DataFrame(data, columns=['Id'] + features[1:])
join_df.head()

,Id,temperature_2m (°C),relativehumidity_2m (%),apparent_temperature (°C),snowfall (cm),dewpoint_2m (°C),cloudcover (%),windspeed_10m (km/h),windgusts_10m (km/h)
0,6198,-3.3,85,-9.6,0.0,-5.4,100,24.1,39.2
1,6417,-3.3,85,-9.6,0.0,-5.4,100,24.1,39.2
2,7054,-3.3,85,-9.6,0.0,-5.4,100,24.1,39.2
3,9628,-3.6,84,-10.3,0.0,-6.0,91,25.7,39.2
4,10283,-3.6,84,-10.3,0.0,-6.0,91,25.7,39.2

In [10]:
final_df = pd.merge(test_df, join_df, on='Id', how='inner')
final_df.head()

,Id,running_time,route_distance_km,sequence,is_afternoon,is_evening,is_morning,is_night,morning_peak_time,evening_peak_time,temperature_2m (°C),relativehumidity_2m (%),apparent_temperature (°C),snowfall (cm),dewpoint_2m (°C),cloudcover (%),windspeed_10m (km/h),windgusts_10m (km/h)
0,6198,2022-01-24 03:38:30,4.744,"[4773237812, 4773237811, 2059504508, 205950375...",0,0,0,1,0,0,-3.3,85,-9.6,0.0,-5.4,100,24.1,39.2
1,6417,2022-01-24 03:45:51,6.279,"[5020979245, 290008230, 703126946, 290008229, ...",0,0,0,1,0,0,-3.3,85,-9.6,0.0,-5.4,100,24.1,39.2
2,7054,2022-01-24 03:52:14,3.934,"[4363705737, 4362696212, 317184766, 4768027647...",0,0,0,1,0,0,-3.3,85,-9.6,0.0,-5.4,100,24.1,39.2
3,9628,2022-01-24 04:03:21,5.959,"[3292022393, 3292022394, 701988912, 27126496, ...",0,0,0,1,0,0,-3.6,84,-10.3,0.0,-6.0,91,25.7,39.2
4,10283,2022-01-24 04:01:12,7.028,"[1920586755, 1920586759, 2350039045, 392526370...",0,0,0,1,0,0,-3.6,84,-10.3,0.0,-6.0,91,25.7,39.2

In [11]:
final_df.to_csv('final_test_with_sequencesv2.csv', index=False)